<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="container">
    <!-- header section
  _____________________________________________________-->
    <div class="row">
      <div style="text-align: center" class="twelve columns">
      <img src="/car.png" alt="">
        <h1>Registration Numbers</h1>
      </div>
      
    </div>
    <br>
    
<div class="error">
           <h6>{{messages.error}}</h6>
        </div>




    <!-- filter
___________________________________________________________-->
<div class="row ">
  <div class="twelve columns ">
     <div class="nine columns">

          <label for=""> Enter Registration Number</label>
          <form action="/reg_numbers" method="post">
           <input type="text" name="regNum" class="regInput"   placeholder="eg: CA 123-456" title=""  >
          <button type="submit" name="button" class="btnAdd">ADD</button>
          <a href="/clear"><button type="button" name="button" class="btnReset">Reset</button></a>
          </form>
 
        </div>
      <div class="three columns">
          <form  method="post" action="/reg_numbers/town"  class="dropdown-menu" >
          <label for="">Select town : </label>
          <select name="town" onchange="this.form.submit()" >
             <option  name="town" value='All'>All</option>
            {{#each regID}}
            <option value="{{towncode}}" {{selected}}>{{townname}}</option>
            {{/each}}
          </select>
          </form>
      </div>
       

  </div>
</div>

    <!--add new created element
 ____________________________________________________-->
    <div class="row">
      <div class="twelve columns">
               <H4>Registration Numbers</H4> 
        <div class="templateContent">
      {{#each displayRegNum}}
      <ul>
        <li> {{regnumber}}</li>
      </ul>
      {{/each}}
    </div>
     <div class="clear ">
           <h5 class="firstSection">{{messages.clear}}</h5>
        </div>
      </div>

    <!--_______________________________________________-->
  </div>


</body>

</html>